annotated-types
anthropic
anyio
bidict
blinker
certifi
charset-normalizer
click
contourpy
cycler
distro
fastapi
filelock
Flask
Flask-Cors
Flask-SocketIO
fonttools
fsspec
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
kiwisolver
llvmlite
MarkupSafe
matplotlib
more-itertools
mpmath
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai-whisper
packaging
pandas
pillow
plotly
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
python-engineio
python-socketio
pytz
PyYAML
regex
requests
seaborn
simple-websocket
six
sniffio
starlette
sympy
tenacity
tiktoken
tokenizers
torch
torchaudio
torchvision
tqdm
triton
typing_extensions
tzdata
urllib3
Werkzeug
wsproto