annotated-types 
anthropic 
anyio 
bidict 
blinker 
certifi 
charset-normalizer 
click 
colorama 
contourpy 
cycler 
distro 
exceptiongroup 
fastapi 
ffmpeg 
filelock 
Flask 
Flask-Cors 
Flask-SocketIO 
fonttools 
fsspec 
h11 
httpcore 
httpx 
huggingface-hub 
idna 
itsdangerous 
Jinja2 
jiter 
kiwisolver 
llvmlite 
MarkupSafe 
matplotlib 
more-itertools 
mpmath 
networkx 
numba 
numpy 
openai-whisper 
packaging 
pandas 
pillow 
plotly 
pydantic 
pydantic_core 
pyparsing 
pystray 
python-dateutil 
python-engineio 
python-socketio 
pytz 
PyYAML 
regex 
requests 
seaborn 
setuptools 
simple-websocket 
six 
sniffio 
starlette 
sympy 
tenacity 
tiktoken 
tokenizers 
torch 
torchaudio 
torchvision 
tqdm 
typing_extensions 
tzdata 
urllib3 
Werkzeug 
wheel 
wsproto 
psutil